@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Patua+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Patua One" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(./Assets/img/Background.png);
  background-size: cover;
}

.four {
  background: linear-gradient(rgba(200, 36, 98, 0.8), rgba(200, 36, 98, 0.8));
}

.font1{
  font-family: "Patua One";
}

.font2 {
  font-family: "DM Serif Display";
}

.font3 {
  font-family: "Poppins";
  font-style: normal;
}

.font5 {
  font-family: "Cormorant";
}

.font6{
  font-family: "Oleo Script";
}

.section2 {
  background: rgba(254, 149, 213, 0.46);
}
